/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

/**
* Top's code
*/
#comments > .title {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

/**
* A comment in an article
*/
.comment {
    overflow: hidden;
    zoom: 1;
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eee;
}

.comment > .user-picture > a {
    float: left;
    margin-right: 10px;
}

.comment > h3 {
    margin: 0 0 10px;
}

.comment > .submitted {
    margin: 0 0 45px;
}

.field-name-comment-body p {
    margin: 0 0 10px;
}

.content .rate-widget{
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    width: 8.33333333%;
}

.comment .field-name-comment-body {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    float: left;
    width: 91.66666667%;
}

.content > .form-type-item > label {
    display: none;
}

.node-article > .user-picture{
    float: left;
    margin-right: 10px;
}

.node-article .field-name-body {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.field-name-field-tags .field-item {
    overflow: hidden;
    display: inline;
    padding-right: 5px;
}
